<%- include('../partials/header.ejs')%>
    <div class="container">
        <p>
            About Anvis Closet, <br />
            A place where you find the best clothing closet
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>