<%- include('./partials/header.ejs')%>

    <div class="center">
        <img class="center_image" src="images/fashion.jpg" alt="You are on the right place to shop">
        
    </div>

    <%- include('./partials/footer.ejs')%>