<%- include('../partials/header.ejs')%>
    <div class="container">
        <p>
            Address - 9505 University Terrarce Drive, <br />
            Phone - (704)-974-0266 <br/>
            Email - sponnaga@uncc.edu <br />
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>