<div class="footer ">
    <div class="footer-content">
        <a class="button" name="about" href='/about'> About</a>
        <a class="button" name="contactUs" href='/contactUs'> Contact Us</a>
        <label> Ⓒ Anvi's Closet </label>
        
    </div>
</div>

</body>

</html>